* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: white;
  background:linear-gradient(#120d17,#07030a);
  
}

.hero {
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.announcement {
  background-color: rgb(25, 20, 32);
  color: white;
  padding: 14px 17px;
  border: 1px solid #2c2d2c;
  border-radius: 100px;
 
}

.announcement-link {
  text-decoration: none;
  color:white
  /*  */
}

.announcement-link:hover {
  color: #a79c9c;
}

.announcement-text {
  font-size:large;
}

.announcement-button {
  background-color: rgb(45, 39, 52);;
  color: white;
  padding:7px 17px;
  border-radius: 100px;
  margin-left: 4px;
  
}

.hero-content {
  text-align: center;
  padding: 0 4rem;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3dvh;
}

.hero-title {
  font-size: 57px;
  width: 69%;
  margin-bottom: 1rem;
}

.hero-description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  width: 56%;
  color: rgb(171, 170, 170);
}

.cta-button {
  text-decoration: none;
  padding: 15px 27px;
  border: 1px solid #2c2d2c;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  background: linear-gradient(90deg, #603bf4, #3c17f7);
}

.cta-button:hover {
  background: linear-gradient(90deg, #502ff1, #7757f7);
}

@media (max-width: 640px) {
  .hero {
    padding: 1rem;
  }

  .announcement-link {
    font-size: 0.75rem;
  }

  .hero-content {
    padding: 0 1rem;
  }
}
